{% extends 'layouts/layouts.twig' %}


{% block body %}

<form method="POST" action="{{ baseUrl() }}/login">
	Email : <input type="text" name="email"> <br>
	Password : <input type="password" name="password"> <br>
	<input type="submit" value="Login">
</form>
{% endblock %}